:root {
    --primary-color: #9932CC;
    --primary-hover-color: #85037e;

    --search-btn-color: #2da140;
    --search-btn-hover-color: #184718;

    --reset-btn-color: #dd4b4b;
    --reset-btn-hover-color: #802828;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes headerAnimation {
    from {
        height: 100vh;
    }

    to {
        height: 60px;
    }
}

@keyframes hide {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
    }
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('../assets/header-pic.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.header.small {
    height: 60px;
    animation-name: headerAnimation;
    animation-duration: 1s;
}

.header-title {
    font-size: 50px;
    margin: 0;
}

footer {
    text-align: right;
    padding: 20px 0;
    position: fixed;
    width: calc(100% - 40px);
    bottom: 0;
    font-size: 1.2em;
}

.hidden {
    opacity: 0;
    animation-name: hide;
    animation-duration: 1s;
}

.footer-text {
    color: white;
    margin: 0;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px;
    margin-top: 0;
}

table.hidden {
    display: none;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
}

button {
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
}

button.search {
    background-color: var(--search-btn-color);
}

button.search:hover {
    background-color: var(--search-btn-hover-color);
}

button.reset {
    background-color: var(--reset-btn-color);
}

button.reset:hover {
    background-color: var(--reset-btn-hover-color);
}

button:hover {
    background-color: var(--primary-hover-color);
}

button.hidden {
    display: none;
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin-top: 8px;
}

#navigation.hidden {
    display: none;
}


#navigation input {
    width: 300px;
}

#navigation button {
    margin-left: 10px;
}

/* styles the scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:active {
    background: #666;
}

#taglist li:last-child:after {
    content: "";
}

ol {
    margin-left: 16px;
}